.App{
    margin:0;
    padding:0;
}
.top_carousel_dots{
  height:32rem;
}
.top_carousel{
  height:30rem;
}
.slick-prev:before,.slick-next:before{
    color:black!important;
}
.container {
    position: relative;
    width: 50%;;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0.25rem;
    right: 0.25rem;
    background-color: #000000c2;
    overflow: hidden;
    width: 98%;
    /* width: 35vw; */
    height: 0;
    transition: .5s ease;;
  }
  
  .container:hover .overlay {
    height: 100%;
    padding: 0 5rem;
  }

  .imgHeight{
      height: 13.5rem;

  }
  
  .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100px;
    cursor: pointer;
    border: none;
    border-radius: 10%;
  }
  
  
  

